@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #e0e0e0, white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

footer {
    background-color: #e0e0e0;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

footer nav{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: #1B4332;
}



header nav{
    margin: 15px 0;
    display:flex;
    justify-content: space-around;
}

header {
    background-image: linear-gradient(to right, #2D6A4F, #D8F3DC);
    font-size: 20px;
    font-weight: 500;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
}

#settings{
    color:#B7E4C7;
}

.container {
    background-size: 100%;
    background-image: url("https://images.unsplash.com/photo-1438762398043-ac196c2fa1e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z29sZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    position: absolute;
    top: 20%;
    border-radius: 15px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	height: auto;
    padding: 15px 25px;
    width: auto;
	max-width: 100%;
	min-height: 480px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color:white;
}

select{
    padding: 5px;
    background-color: rgba(255,255,255,100%);
    border-radius: 15px;
}

form{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	padding: 20px 50px;
	text-align: center;
}

input{
    background-color: #eee;
    border:none;
	border-radius: 15px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    color:#081C15;
}


h1{
    color:#95D5B2;
    position: relative;
}


button {
	border-radius: 20px;
	border: 1px solid #1B4332;
	background-color: #2D6A4F;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    cursor: pointer;
}

#abort {

    border: #2D6A4F;
    background-color: #D8F3DC;
    color: #1B4332;
}

button:active {
	transform: scale(0.95);
}

button:focus, button:hover {
	outline: none;
    cursor: pointer;
}