@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #e0e0e0, white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: auto;
	margin: 10%;
}

footer {
    background-color: #e0e0e0;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}

footer nav{
    margin: 10px 0;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: #1B4332;
}


header nav{
    margin: 15px 0;
    display:flex;
    justify-content: space-around;
}

header {
    background-image: linear-gradient(to right, #2D6A4F, #D8F3DC);
    font-size: 20px;
    font-weight: 500;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
}

#settings{
    color:#B7E4C7;
}

.container {
	background-color: #fff;
    position: relative;
    top: 20%;
    border-radius: 15px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	min-height: 600px;
    padding: 15px 25px;
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    text-align:center;
    text-transform: uppercase;
    height: auto;
}

.pie-chart{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    position: relative;
    margin-top: 20%;
    margin-bottom: 10%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
}

#income-pie-chart{
    background: conic-gradient(#e2b1b1 0% 25%, #fafafa 25% 50%, #e1e8b4 50% 75%, #c7d66d 75%);
}

td{
    border-radius: 10px;
    padding: 5px;
}

th{
    color: #52B788;
}


.other{
    background-image: linear-gradient(to left, #e2b1b1, white);
}
.allegro-sale{
    background-image: linear-gradient(to left ,#fafafa, white);
}

.salary{
    background-image: linear-gradient(to left,#e1e8b4, white);
}

.bank-interest{
    background-image: linear-gradient(to left,  #c7d66d, white);
}

#expense-pie-chart{
    background: conic-gradient(#e2b1b1 0% 5%, #28b8d5 5% 10%, #ef9770 10% 15%, #28b79f 15% 20%, #f75971 20% 25%, #ffe169 25% 30%, #8d4274 30% 35% ,#9bf8f4 35% 40%, #f4daed 40% 45%, #a8e6cf 45% 50%,#becee4 50% 55%,#adfda2 55% 60%,#f8c8a6 60% 65%, #5673ae 65% 70%, #aebed6 70% 75%, #ff8500 75% 80%, #fafafa 80%);
}

.food{
    background-image: linear-gradient(to left, #28b8d5, white);
}

.rent{
    background-image:linear-gradient(to left, #ef9770, white);
}

.transportation{
    background-image: linear-gradient(to left,#28b79f,white);
}

.telecomunication{
    background-image: linear-gradient(to left, #f75971, white);
}
.health-care{
    background-image:linear-gradient(to left, #ffe169, white);
}
.clothing{
    background-image:linear-gradient(to left, #8d4274, white);
}
.hygiene{
    background-image:linear-gradient(to left ,#9bf8f4, white);
}
.children{
    background-image:linear-gradient(to left, #f4daed, white);
}
.entertainment{
    background-image: linear-gradient(to left, #a8e6cf, white);
}
.travel{
    background-image: linear-gradient(to left,#becee4, white);
}
.schooling{
    background-image: linear-gradient(to left, #adfda2, white);
}
.books{
    background-image:linear-gradient(to left, #f8c8a6, white);
}
.savings{
    background-image: linear-gradient(to left, #5673ae, white);
}
.retirement{
    background-image:linear-gradient(to left, #aebed6, white);
}
.debt{
    background-image:linear-gradient(to left, #ff8500, white);
}
.donation{
    background-image:linear-gradient(to left,#fafafa, white);
}


.table-chart-panel{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    position: relative;
    border-top: 1px solid lightgrey;
}

.panel{
    display: flex; 
    flex-direction: column;
    justify-content: ceter;
    align-items: center;
    position: sticky;
}

.calculate{
    bottom: 0;
    position: absolute;
    margin-bottom: 7%;
    margin-left: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
font-size: 20px;
border: 1px solid #2D6A4F;
border-radius: 15px;
padding: 20px 40px; 
font-weight:600;
background-color: #40916C;
color: white;
}

button:active {
	transform: scale(0.95);
}

button:focus, button:hover {
	outline: none;
    cursor: pointer;
}

.panel-header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 5%;
    line-height: 30px;
    left: 15%;
    position: relative;
   
}



h1 {
    font-size: 25px; 
    color: #74C69D;
}

select, option{
    padding: 15px;
    border-radius: 15px;
    background-color: #a8e6cf;
}

